<div class="container">

  <div class="row playing">
    <div class="col-1 center"><i class="fab fa-spotify"></i></div>
    <div class="col">
      <div class="row title">Moonshine - Bakermat Remix</div>
      <div class="row artist">Caravan Palace</div>
    </div>
  </div>

  <div class="row buttons">
    <div class="button col-2 text-center"><i class="fas fa-stream"></i></div>
    <div class="button col-2 text-center"><i class="fas fa-random"></i></div>
    <div class="button col-1 text-center main-button"><i class="fas fa-step-backward"></i></div>
    <div class="button col-2 text-center main-button play-button"><i class="fas fa-play"></i></div>
    <div class="button col-1 text-center main-button"><i class="fas fa-step-forward"></i></div>
    <div class="button col-4 text-center"><i class="fas fa-laptop"></i></div>
  </div>

  <div class="row extra-info">
    <div class="col text-center text-truncate">Playlist name here (very long)</div>
    <div class="col text-center">2:13 ------------------------- 3.35</div>
    <div class="col text-center text-truncate">Playback device name</div>
  </div>

</div>