.header {
  font-weight: 600;
  background-color: rgba(var(--main-color), 0.6);
  margin-bottom: 2px;
}

.header:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  margin-bottom: 2px;
}

.icon-col {
  max-width: 40px;
}

.vpn-field {
  min-width: 260px;
}

.drive {
  min-width: 130px;
  margin: auto;
}

.drive-name {
    margin-top: -15px;
}

.resource-col {
  min-width: 260px;
}

.process {
  font-size: 90%;
  min-width: 130px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 70%;
}
