<div class="container">

  <div class="row header">
    <div class="col-6 text-left">
      <i class="fas fa-network-wired"></i>
      {{vpnData.clientList.length}} clients connected to VPN
    </div>
    <div class="col-6 text-right">
      {{vpnData.sumTrafficMbytes|number: '1.2-2'}} MB overall traffic
    </div>
  </div>

  <div class="row header">
    <div class="col">
      <i class="far fa-hdd"></i>
      Storage
    </div>
  </div>
  <div class="row content">
    <div class="col-3 drive text-center" *ngFor="let drive of storageData">
      <ngx-gauge [max]="drive.sizeGbytes" [value]="drive.sizeGbytes-drive.freeGbytes|number: '1.0-0'" [append]="'GB'"
        [label]="'/ '+(drive.sizeGbytes/930|number: '1.0-1')+' TB'"
        [type]="'semi'" [thick]="6" [cap]="'round'" [size]="110"
        [foregroundColor]="gaugeForeground" [backgroundColor]="gaugeBackground"></ngx-gauge>
      <div class="drive-name text-truncate">{{drive.name}}</div>
    </div>
  </div>

  <div class="row header">
    <div class="col">
      <i class="fas fa-tachometer-alt"></i>
      Resources
    </div>
  </div>
  <div class="row content">
    <div class="col-6 text-center">
      <i class="fas fa-microchip"></i>
      CPU: {{systemResources.processorUsedPercent | number: '1.2-2'}}%
    </div>
    <div class="col-6 text-center">
      <i class="fas fa-memory"></i>
      RAM: {{(systemResources.memoryUsedGb/systemResources.memoryAllGb)*100 | number: '1.2-2'}}%
      ({{systemResources.memoryUsedGb | number: '1.0-0'}} / {{systemResources.memoryAllGb | number: '1.0-0'}}GB)
    </div>
  </div>

  <div class="row header">
    <div class="col">
      <i class="fas fa-running"></i>
      Processes
    </div>
  </div>
  <div class="row content">
    <div class="col-3 process text-left" *ngFor="let process of processes">
      <i class="fas fa-check-circle" *ngIf="process.running"></i>
      <i class="far fa-times-circle" *ngIf="!process.running"></i>
      {{process.name}}
    </div>
  </div>

  <div class="row footer">
    <div class="col text-right" (click)="getData(true)" style="cursor: pointer;">
      <i class="fas fa-sync-alt"></i>
      {{getQueryTime()}}
    </div>
  </div>

</div>