/*************
  General
*************/
.container-main {
  width: 100%;
  height: 100vh;
}

.container-main-logged-in {
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--backgrond-gradient)),
      rgba(0, 0, 0, var(--backgrond-gradient))
    ),
    var(--background-image-url);
  background-size: cover;
  background-attachment: fixed;
}

/*************
  Full-size
*************/
router-outlet {
  display: none;
}

.container-content {
  position: relative;
}

.container-content>* {
  display: block;
}

.container-nav-full,
.container-content-full {
  float: left;
  height: 100vh;
}

.container-nav-full {
  width: 185px;
}

.container-content-full {
  width: calc(100% - 185px);
  overflow-y: auto;
}

/*************
  Small-size
*************/
.container-main-small {
  overflow-y: auto;
}
