<div class="container">

  <!-- Register section -->
  <!-- <section class="container" id="register">
    <div class="row input-row">
      <div [ngClass]="{'col-3': screenWidth >= 1024, 'col': screenWidth < 1024}">
        <app-register></app-register>
      </div>
    </div>
  </section> -->

  <!-- Login section -->
  <section class="container" id="login">
    <div class="row input-row">
      <div [ngClass]="{'col-3': screenWidth >= 1024, 'col': screenWidth < 1024}">
        <app-login></app-login>
      </div>
    </div>
  </section>

</div>